
$btn-citrica-ui: (
  sm: (
    padding: 10px 20px,
  ),
  md: (
    padding: 10px 20px,
  ),
  lg: (
    padding: 10px 30px,
  )
);
.btn-citrica-ui{
  border-radius: var(--form-radius-btn);
  min-width: 140px;
  &:hover, &:active, &:focus { // AVOID DEFAULT OPACITY CHANGE
    opacity: 1 !important;
    border-color: inherit !important;
    filter: none !important;
    transform: none !important;
    box-shadow: inherit !important;
  }
}

.btn-primary{
  background-color: var(--color-primary-btn);
  color: var(--color-primary-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-primary-btn-hover);
    .text-component {
      color: var(--color-primary-btn-text-hover) !important;
    }
  }
}

.btn-primary-color-2{
  background-color: var(--color-tertiary) !important;
  border: none;
  &:hover{
    background-color: var(--color-tertiary-btn-hover) !important;
    .text-component {
      color: var(--color-tertiary-btn-text-hover) !important;
    }
  }
}
.btn-primary-color-2 .text-component{
  color: var(--color-on-tertiary) !important;
}


.btn-secondary{
  background-color: var(--color-secondary-btn);
  color: var(--color-secondary-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-secondary-btn-hover);
    .text-component {
      color: var(--color-secondary-btn-text-hover) !important;
    }
  }
}

.btn-secondary-color-2{
  background-color: var(--color-on-secondary) !important;
  border: none;
  &:hover{
    background-color: var(--color-tertiary-btn-hover) !important;
    .text-component {
      color: var(--color-tertiary-btn-text-hover) !important;
    }
  }
}
.btn-secondary-color-2 .text-component{
  color: var(--color-on-tertiary) !important;
}

.btn-citrica-ui.btn-flat{
  background-color: transparent !important;
  color: var(--color-flat-btn-text) !important;
  border: none !important;
  padding: 0px !important;
  &:hover{
    background-color: var(--color-flat-btn-hover) !important;
    .text-component {
      color: var(--color-flat-btn-text-hover) !important;
    }
  }
}

// .btn-flat-color-2{
//   background-color: var(--color-tertiary) !important;
//   border: none;
//   &:hover{
//     background-color: var(--color-tertiary-btn-hover) !important;
//     .text-component {
//       color: var(--color-tertiary-btn-text-hover) !important;
//     }
//   }
// }
// .btn-flat-color-2 .text-component{
//   color: var(--color-on-tertiary) !important;
// }
